lombok.copyableAnnotations += jakarta.validation.constraints.NotNull
lombok.copyableAnnotations += jakarta.validation.constraints.NotBlank
lombok.copyableAnnotations += jakarta.validation.constraints.Past
lombok.copyableAnnotations += jakarta.validation.constraints.Size
lombok.copyableAnnotations += jakarta.validation.constraints.Email